body{
   margin: 0;
   padding: 0;
   background-color: hsl(148, 38%, 91%);
}

.contenedor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 700px;
    background-color: white;
}

.contenedothijo{
    width: 100%;
    height: 80px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-weight: bold;
    font-size: 30px;
    padding: 0 40px;
}

.nieto{
   width: 90%;
   display: flex;
   justify-content: space-evenly; 
}

.nameinput{
    
    width: 100%;
    padding: 10px;
}

.tituloinput{
    font-weight: bold;
    font-size: 18px;
}

.contenedoremail{
    width: 100%;
    height: 80px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorhijoemail{
  position: relative;
  left: 10px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.email{
  width: 96%;
  padding: 10px;
}


.contenedothijo2{
    width: 100%;
    height: 80px;
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorMensaje{
    width: 100%;
    height: 240px;
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedorTextarea{
    width: 90%;
    height: 240px;
    position: relative;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mensaje{
  position: relative;
  right: 30px;
  width: 100%;
  margin: 9px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;

}

.tituloTextarea{
    position: relative;
    bottom: 135px;
    left: 40px;
    font-weight: bold;
    font-size: 18px;
}


.contenedobtn{
    width: 100%;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

.btn{
    position: relative;
    left: 10px;
    width: 82%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    background-color: hsl(169, 82%, 27%);
    color: white;
}

.btn:hover{
    cursor: pointer;
    background-color: hsl(169, 82%, 35%);
}


.nameinput:focus{
    border-color:none ;
}
 


.error{
    border: solid 2px red;
   }
   
.filled{
    border: solid 2px black;
}
@media screen and (max-width: 600px ){
  
     body{
        background-color: hsl(148, 38%, 91%);
    } 
    .contenedor{
    display: contents;
    }

    .contenedothijo{
        position: relative;
        right: 10px;
        text-align: center;
    }
}